:host {
 	
}

#name{
	margin: 5px 0 0 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

#woman-wrapper{
	width: calc(100% - 40px);
    margin-left: 19px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 25px;
}

#woman-progress-line{
	height: 1px;
    background-color: orange;
    position: relative;
    max-width: 100%;
}

#woman{
    position: absolute;
    top: -31px;
    right: -16px;
    pointer-events: none;
    font-size: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}